body {
    margin: 0 0;
    font:"Trebuchet MS", Helvetica, sans-serif;
    background-color: lightpink;
    color: white;
}
#logo {
    width: 200px;
    margin-top: -20px;
    margin-left: 20px;

}
.signup-button {
    background-color: red;
    border: red;
    border-radius: 3px;
    font-size: 16px;
    padding: 8px 15px;
    color: white;
    font-weight: 500;
    float: right;
    margin-right: 37px;
    margin-top: 10px;
}
.big-text {
    font-size: 65px;
}
.big-text2 {
    font-size: 55px;
}
div#bigtext-1 {
    width: 500px;
    margin-top: 150px;
}
p {
    font-size: 30px;
}
#smalltext-1 {
    width: 670px;
}

p.smalltext-2 {
    font-size: 23px;
    margin-top: 8px;
    margin-bottom: 150px;
}
p#smalltext-3 {
    width: 500px;
}
.big-text2, p#smalltext-3{
    margin-left: 100px;
}
#background1 {
    background-image: url(background1.jpg);
    height: 940px;
    background-repeat: no-repeat;
    padding: 15px;
}

.black-background {
background-image: url(blackbackground.png);
height: 450px;
background-repeat: no-repeat;
padding: 15px;
}
.grey-line {
    background-color:#2e2e2e;
    height: 8px;
}
/*add all the center alligned items here*/
div#bigtext-1, p#smalltext-1, .email-getstarted-box, p.smalltext-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.email-getstarted-box {
    justify-content: center;
}
.email-getstarted-box input {
    width: 500px;
    height: 61px;
    padding-top: 10px;
    border: none;  
    margin: 0; 
    outline: none;
}
input[type=text]:focus {
    outline: none;
  }
.email-getstarted-box button {
    width: 300px;
    height: 70px;
    border: none;
    padding-bottom: 2px;
    margin: 0;
    outline: none;
    color: white;
    background-color: #f20f0f;
    font-size: 30px;
}
.email-getstarted-box button:focus {
    outline: none;
  }
  .email-getstarted-box button:hover {
    background-color:#ff0000;
  }